.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  max-width: 50vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.feed__header {
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__heading {
  font-size: 20px;
  font-weight: 800;
}

@media screen and (max-width: 1080px) {
  .feed {
    flex: 0.6;
  }
}

@media screen and (max-width: 767px) {
  .feed {
    flex: 1;
    max-width: 100vw;
  }
}
