.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  min-width: 200px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar__twitter-icon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: #fff !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  width: 100% !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
  font-size: 16px !important;
}

@media screen and (max-width: 1080px) {
  .sidebar {
    flex: 0.05;
    min-width: 0;
  }

  .sidebar__twitter-icon {
    margin-left: 17px;
  }

  .sidebar__tweet {
    display: none !important;
  }
}
