.widgets {
  flex: 0.3;
  margin-left: 20px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: #f5f8fa;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.widgets__input > input {
  flex: 1;
  border: none;
  outline: none;
  background-color: #f5f8fa;
}

.widgets__search-icon {
  color: #808080;
}

.widgets__widget-container {
  margin-top: 15px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widget-container > h2 {
  text-align: center;
}
